* {
  box-sizing: border-box;
  color: white;
  font-family: "Comfortaa", Georgia, "Times New Roman", Times, serif !important;
}

body {
  background-color: #282c34;
}

header {
  height: 100px;
  border-bottom: 1px solid #6a77e8;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

header img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  object-position: center;
}

main {
  max-width: 1144px;
  margin: 0 auto;
  border: 1px solid white;
}

footer {
  margin-top: 50px;
  position: sticky;
  bottom: 0px;
  height: 50px;
  border: 1px solid white;
}
